/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Header */
header {
    font-size: 9px;
}

header > #dc-power-visa {
    height: 20px;
    line-height: 20px;
    background-color: dodgerblue;
    color: white;
}

#dc-power-visa > .container {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#small-logo {
    height: 45px;
}

nav {
    min-width: 60px;
    height: 65px;
    /* gestire responsive */
}

nav > ul {
    display: flex;
}

nav li {
    margin: 0 10px;
    color: rgb(75, 75, 75);
}

nav li:last-of-type {
    padding-left: 35px;
    border-bottom: 2px solid dodgerblue;
    display: flex;
    align-items: center;
}

nav li > a {
    padding: 24px 0;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li > a.active {
    border-bottom: 4px solid dodgerblue;
}

nav li > span {
    margin-left: 3px;
    color: dodgerblue;
}

/* Jumbotron */
.jumbotron {
    height: 290px;
    position: relative;
}

.jumbotron > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* Products */
section#products {
    background: #202020;
    padding: 15px 0 20px 0;
}
#products .container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#products .container,
#products ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

#products li {
    flex-basis: calc(100% / 6.5);
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#products li img {
    width: 100%;
    height: calc(900px / 6.5);
    object-fit: cover;
    object-position: top;
}

#products li {
    padding-top: 10px;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
}

#products button {
    padding: 7.5px 12.5px;
    background-color: #0c7cec;
    color: white;
    border: none;
    font-weight: bold;
}

#products button:first-of-type {
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 14px;
}

#products button:nth-of-type(2) {
    margin-top: 10px;
    padding: 5px 30px;
    font-size: 10px;
    align-self: center;
}

/* Links */
section#links {
    background: dodgerblue;
    padding: 40px 0;
    position: relative;
    z-index: 2;
}

#links .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

#links ul > li {
    padding: 0 20px;
}

#links ul > li > a {
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#links li img {
    width: auto;
    margin-right: 10px;
}

#links li img:not(li:nth-of-type(5) img) {
    height: 40px;
}

#links li:nth-of-type(5) img {
    height: 25px;
}

/* Footer */
footer > section:first-of-type {
    position: relative;
    height: 275px;
}

footer > section:first-of-type> img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.container {
    display: flex;
}

footer > section:first-of-type > .container {
    justify-content: space-between;
}

.lists {
    padding: 30px 0 40px 0;
    display: flex;
    z-index: 1;
}

footer > section:first-of-type ul {
    margin-right: 30px;
}

footer > section:first-of-type ul li h4 {
    margin-bottom: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}

footer > section:first-of-type ul li:not(li:first-of-type) {
    line-height: 12px;
}

ul li a {
    font-size: 10px;
    color: grey;
}

footer > section:first-of-type img {
    height: 380px;
    margin-top: -65px;
    z-index: 1;
}

footer > section:nth-of-type(2) {
    height: 80px;
    line-height: 80px;
    background: #363636;
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 2;
}

footer > section:nth-of-type(2) > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer > section:nth-of-type(2) button {
    padding: 7.5px;
    border: 2px solid #0c7cec;
    background: transparent;
    font-size: 12px;
    color: white;
}

footer > section:nth-of-type(2) ul {
    display: flex;
    align-items: center;
    height: 25px;
    line-height: 25px;
}

footer > section:nth-of-type(2) ul h4 {
    margin-right: 15px;
    color: #0c7cec;
    font-size: 13px;
    font-weight: bold;
}

footer > section:nth-of-type(2) ul > li > a {
    margin: 0 5px;
}

footer > section:nth-of-type(2) ul > li > a > img {
    height: 25px;
}
